<span [ngSwitch]="alert">
    <p *ngSwitchCase="'success'">Success

    </p>
    <p *ngSwitchCase="'info'">Info

    </p>
    <p *ngSwitchCase="'warning'">Info

    </p>
    <p *ngSwitchDefault>Danger

    </p>
</span>

<button type="button" (click)= "alert='success'" class="btn btn-secondary mb-2" >change</button>


<div [ngSwitch]= "alert">
  
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>

    <div *ngSwitchDefault class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>

    <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>

    <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div>
   
</div>